<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/boostrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/boostrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="/static/boostrapTable/bootstrap-table.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/anyChat/css/anyChat.css" rel="stylesheet" type="text/css"/>
    <script src="/static/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/static/boostrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/boostrapTable/bootstrap-table.min.js" type="text/javascript"></script>
    <script src="/static/boostrapTable/bootstrap-table-locale-all.min.js" type="text/javascript"></script>
    <script src="/static/boostrapTable/bootstrap-table-locale-all.min.js" type="text/javascript"></script>
    <script src="/static/anyChat/js/anyChat.js" type="text/javascript"></script>
    <meta charset="UTF-8"/>
    <!-- 用于CSRF防御的token(请求体)-->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- 用于CSRF防御的TOKEN(请求头)-->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>login</title>
    <!-- 两种方式引入均可，spring boot 集成 thymeleaf模版时，静态资源默认的路径就是/templates,/static下 -->
    <script src="jquery/jquery-2.2.3.min.js" type="text/javascript"></script>
    <!--<script th:src="@{jquery/jquery-2.2.3.min.js}" type="text/javascript"></script>-->
</head>
<body class="cux-body">
<div th:if="${param.error}">
用户名或密码错误！
</div>
<div class="cux-login">
    <div class="cux-login-box">
        <div class="cux-login-head">
            Login
        </div>
        <div class="cux-login-body">
            <div style="margin-top: 40px">
                <form th:action="@{/login}" method="post">
                    <div class="input-group" style="padding: 0 140px 30px;">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" name="username"/>
                    </div>
                    <div class="input-group" style="padding: 0 140px 30px;">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-lock"></span>
                            </button>
                        </div>
                        <input type="password" class="form-control" placeholder="password" name="password"/>
                    </div>
                    <div style="padding: 0 140px 30px;text-align: center;">
                        <input type="submit" class="btn btn-primary" value="登陆"/>
                        <input type="submit" class="btn btn-primary" value="注册"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>