<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>测试V1.0</title>
    <link href="/static/boostrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/boostrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="/static/boostrapTable/bootstrap-table.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/anyChat/css/anyChat.css" rel="stylesheet" type="text/css"/>
    <script src="/static/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/static/boostrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/boostrapTable/bootstrap-table.min.js" type="text/javascript"></script>
    <script src="/static/boostrapTable/bootstrap-table-locale-all.min.js" type="text/javascript"></script>
    <script src="/static/boostrapTable/bootstrap-table-locale-all.min.js" type="text/javascript"></script>
    <script src="/static/anyChat/js/anyChat.js" type="text/javascript"></script>
</head>
<body class="cux-body">
<div style="margin:50px auto 0;max-width: 1000px;">
    <div style="width: 28%;" class="cux-panel left-panel">
        <div class="cux-left-panel-body">
            <div class="cux-left-header">
                <div class="cux-avatar">
                    <img src="/static/img/self.png" class="cux-left-head">
                </div>
                <div class="cux-info">测试人员
                    <i class="glyphicon glyphicon-menu-hamburger cux-info-icon"></i>
                </div>
            </div>
            <div class="cux-search-bar">
                <i class="cux-search-icon glyphicon glyphicon-search"></i>
                <input id="search" type="text" class="cux-search-input" placeholder="搜索">
            </div>
            <div class="cux-nav-tabs">
                <div class="cux-tab">
                    <div style="height: 30px; width: auto;border-right: 1px solid #24272C;">
                        <a class="cux-tab-icon glyphicon glyphicon-comment"></a>
                    </div>
                </div>
                <div class="cux-tab">
                    <div style="height: 30px; width: auto;border-right: 1px solid #24272C;">
                        <a class="cux-tab-icon glyphicon glyphicon-list-alt"></a>
                    </div>
                </div>
                <div class="cux-tab">
                    <a class="cux-tab-icon glyphicon glyphicon-user"></a>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 72%;" class="cux-panel panel-primary right-panel">
        <div class="cux-panel-heading">
            测试demo-v1.0
        </div>
        <div class="cux-right-panel-body">
            <div id="msg-conent" class="cux-well cux-well-lg cux-scrollbar"></div>
            <div class="input-group">
                <input id="msg-input" type="text" class="form-control" placeholder="请输入...">
                <span class="input-group-btn">
                    <button id="send-msg" class="btn btn-default" type="button">发送</button>
                </span>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>